@import 'styles/abstract/_colors.scss';

.storybookContainer {
  max-width: 375px;
  width: 100%;
  padding: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100%;

  padding: 17px 24px;

  background: $color-neutral-background;
  border: 1px solid $color-neutral-medium;
  border-radius: 8px;

  ::placeholder {
    color: $color-neutral-medium;
  }

  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 100%;
  color: $color-neutral-dark;
}

.errorMessage {
  margin-top: 8px;

  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 100%;
  color: $color-feedback-error;
}
