@import 'styles/abstract/_colors.scss';

.storybookContainer {
  max-width: 375px;
  width: 100%;

  padding: 16px;
}

.container {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6em;
  line-height: 150%;
  text-align: center;

  width: 100%;
  height: 100%;
  border-radius: 8px;
  outline: none;
  border: none;

  display: flex;
  align-items: center;

  padding: 1.2em 2.5em 1.3em;

  &:hover {
    cursor: pointer;
  }

  :disabled {
    cursor: not-allowed;
  }
}

.outlined {
  background: $color-neutral-background;
  border: 1px solid $color-brand-primary;
  color: $color-brand-primary;
}

.contained {
  background: $color-brand-primary;
  color: $color-neutral-background;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}
