@import 'styles/abstract/_colors.scss';

.storybookContainer {
  max-width: 375px;
  width: 100%;
  padding: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 125px;
  resize: none;
  padding: 16px;

  background: $color-neutral-background;
  border: 1px solid $color-neutral-medium;
  border-radius: 8px;

  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $color-neutral-dark;

  ::placeholder {
    color: $color-neutral-medium;
  }
}

.error {
  margin-top: 8px;

  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: $color-feedback-error;
}
