.container {
  background: #FFFFFF;
  filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.08));
  padding: 1em 2.4em;
}

.itemsContainer {
  display: grid;
  grid-template-columns: repeat(5, 55px);
  justify-content: space-between;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    height: 20px;
    width: 20px;
  }

  p {
    margin-top: 2px;

    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #666666;

    &.active {
      color: #1D71B8;
    }
  }
}
